<!-- Main Footer -->
<footer class="bg-light border-top p-3" id="footerFixo">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <h4 class="border-bottom">Dashboard - Desafio nano</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12  d-flex justify-content-center">
                <strong>Copyright &copy; 2020 <a href="/">Company</a>.</strong> Todos os direitos reservados.
            </div>
        </div>
    </div>

</footer>

</body>

</html>