<!-- Content Wrapper. Contains page content -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center my-3">
        <div class="col-md-8 col-10">
            <div class="box box-success">
                <div class="box-header with-border mt-2 text-center">
                    <h3 class="box-title text-secondary border-bottom">Nova movimentação
                    </h3>
                </div>
                {if="$msgError != ''"}
                <div class="alert alert-danger  alert-dismisseble" role="alert">
                    <button class="close" type="button" data-dismiss="alert">
                        &times;
                    </button> {$msgError}
                </div>
                {/if} {if="$msgSuccess != ''"}
                <div class="alert alert-success  alert-dismisseble" role="alert">
                    <button class="close" type="button" data-dismiss="alert">
                        &times;
                    </button> {$msgSuccess}
                </div>
                {/if}
                <!-- Formulário para cadastro de despesa -->
                <form role="form" action="/admin/extract/create/{$id_func}/post" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <select name="tipo_movimentacao" id="tipo_movimentacao" required class="form-control">
                                <option disabled selected class="form-control">Tipo
                                    da movimentação</option>
                                <option value="entrada" class="form-control">Entrada</option>
                                <option value="saida" class="form-control">Saída</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="valor">Valor</label>
                            <input type="text" min="0" class="form-control" required id="valor" name="valor" placeholder="Digite o valor: 0.00">
                        </div>
                        <div class="form-group">
                            <label for="observacao">Observação</label>
                            <textarea class="form-control" id="observacao" required name="observacao" placeholder=""></textarea>
                        </div>
                        <input type="hidden" name="funcionario_id" value="{$id_func}">
                        <input type="hidden" name="administrador_id" value="{$id_admin}">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>
                </form>
                <!-- Fim do formulário -->
            </div>
        </div>
    </div>

</div>